[submodule "public"]
	path = public
	url = https://github.com/tokisuno/tokisuno.github.io
	branch = main
[submodule "themes/toki-xmin"]
	path = themes/toki-xmin
	url = https://github.com/tokisuno/toki-xmin
