[submodule "public"]
	path = public
	url = https://github.com/tokisuno/tokisuno.github.io
	branch = main
[submodule "themes/toki-xmin"]
	path = themes/toki-xmin
	url = https://github.com/tokisuno/toki-xmin
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/goodroot/hugo-classic.git
